.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  rgb(136, 112, 142);
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #391e86;
}

.App-link {
  color: rgb(215, 197, 216);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navs{
  background-color: rgb(136, 112, 142);
  min-height: 10vh;
  text-align: right;
}

body{
  background-image: url(/src/images/BackG3.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: 100;
}

.product_img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.formin{
  background-image: url(/src/images/Backg.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;  
  min-height: 10vh;
}

.formup{
  background-image: url(/src/images/Backg.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  color: #391e86;
  text-decoration: underline;
}

#h6{
  color: rgb(186, 170, 200);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.formadd{
  background-image: url(/src/images/backG2.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.formpesa{
  background-image: url(/src/images/BackG4.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.footer {
  background-color: #7d5aca;
}

.footer h5,
.footer h6 {
  color: #ffffff;
}

.footer p {
  color: #b0b0b0;
  font-size: 0.9rem;
}

.footer-link {
  color: #b0b0b0;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer .border-top {
  border-color: #2c2c2c ;
}

.header1{
  text-align: start;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  color: #391e86;
  text-decoration: underline;
}

.header2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  color: #391e86;
  text-decoration: underline;
}



.custom-btn {
  background-color: #7d5aca;
  border: none;
  font-weight: bold;
}

.custom-btn:hover {
  background-color: #391e86;
}

.custom-menu {
  border-radius: 10px;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: blueviolet;
}
