.notfound-container {
  height: 80vh;
}

.notfound-image {
  max-width: 350px;
  animation: float 3s ease-in-out infinite;
}

/* Simple floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
